@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: DIN W01 Regular;
        src: url(../../static/fonts/dinot.woff) format('woff') ;
    }

    @font-face {
        font-family: DIN OT-Medium-KzgHMRnb;
        font-style: normal;
        font-weight: 400;
        unicode-range: U+000D-FEFF;
        src: url(../../static/fonts/dinot-medium.woff) format('woff');
    }

}